.modal {
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 2;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  .uploaded{
    display:block;
    width:35%;
    height:30px;
    margin-top: 10px;
    line-height:50px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-size:8px;
  }


  html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.modal-background{
  display: flex;
  justify-content: center;
  align-items: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 2px;
    bottom: auto;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    font-size:8px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input img {
    width:100%;
    display:none;
  }

  .form-input input {
    display:none;
  }
  
  .form-input label {
    display:block;
    width:35%;
    height:30px;
    margin-top: 10px;
    line-height:50px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-size:8px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-input{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }